.modal-dialog-full-width {
  height: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  max-width: none !important;
}

.modal-content-full-width {
  height: auto !important;
  min-height: 100% !important;
  border-radius: 0 !important;
}
.img-responsive {
  display: table-column;
  max-width: 100%;
  max-height: 300px;
  height: auto;
}

.img-responsive-dialog {
  display: table-column;
  max-width: 100%;
  max-height: 100px;
  height: 600px;
}

.img-view-main{
  text-align: center;
  display: -webkit-box;
}
.carousel-wrap {
  margin: 10px auto;
  width: 85%;
  position: inherit;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100;
  -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav > div {
  margin-top: -15px;
  position: absolute;
  top: 35%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}

.owl-carousel .owl-stage-outer {
  /*max-height: 70px;*/
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
}